
**/[Bb]in/
**/[Oo]bj/

*.exe
*.dll
*.pdb
*.cache
*.lib
*.exp
*.ilk
*.nupkg


*.user
*.userosscache
*.suo
*.vsp
*.vspscc
*.vsix


*.tmp
*.log
*.tlog
*.bak
*.~*

.gitattributes

.vs/
*.csproj.user
*.csproj.*.user
*.sln.ide